* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

.img-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.biografia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bg-code.jpg);
  background-size: cover;
}

section div {
  color: white;
}